/*Desktop*/
/*Game Setup Start*/
/*body{
    width: 1440px;
    height: 1024px;
    background: #152938;
}*/
body{
    width: 1440px;
    height: 1024px;
    background: #FCFCFC;
    border: 1px solid red;
}

.setupStart-container{
    position: absolute;
    width: 654px;
    height: 687px;
    top: 154px;
    left: 393px;
    overflow: hidden;
    display: none;
}
.first-heading {
    position: absolute;
    left: 38.23%;
    right: 38.38%;
    width: 153px;
    height: 50px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FCFCFC;
}
.rectangle {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 18.63%;
    bottom: 0%;
    background: #FCFCFC;
    border-radius: 20px;
}
.theme-section {
    position: absolute;
    width: 542px;
    height: 93;
    left: 56px;
    top: 54px;
}
.number-section{
    position: absolute;
    width: 541px;
    height: 93;
    left: 56px;
    top: 199px; 
}
.grid-section {
    position: absolute;
    width: 542px;
    height: 93;
    left: 56px;
    top: 335px;
}
.start-rectangle {
    position: absolute;
    width: 541px;
    height: 70;
    left: 56px;
    top: 454px;
}
h3 {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #7191A5;
}
.select-theme{
    position: absolute;
    height: 25px;
    left: 0%;
    right: 76.01%;
    top: calc(50% - 25px/2 - 34px);
}
.button-group1{
    position: absolute;
    width: 542px;
    height: 52px;
    left: 0px;
    top: 31px;
}
.button-numbers{
    position: absolute;
    width: 256px;
    height: 52px;
    background: #304859;
    border-radius: 26px;
    border-width: 0px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FCFCFC;
}
.button-icons{
    position: absolute;
    background: #BCCED9;
    border-radius: 26px;
    left: 52.77%;
    width: 256px;
    height: 52px;
    border-width: 0px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;   
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FCFCFC;
}
.number-of-players {
    position: absolute;
    height: 25px;
    left: 0%;
    right: 65.43%;
    top: calc(50% - 25px/2 - 34px);
}
.button-group2 {
    position: absolute;
    width: 541px;
    height: 52px;
    left: 0px;
    top: 31px;
}
.button-one {
    position: absolute;
    width: 119px;
    height: 52px;
    background: #304859;
    border-radius: 26px;
    border-width: 0px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;   
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FCFCFC;
}
.button-two {
    position: absolute;
    width: 119px;
    height: 52px;
    left: 140px;
    background: #BCCED9;
    border-radius: 26px;
    border-width: 0px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;   
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FCFCFC;
}
.button-three {
    position: absolute;
    width: 119px;
    height: 52px;
    left: 281px;
    background: #BCCED9;
    border-radius: 26px;
    border-width: 0px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;   
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FCFCFC;
}
.button-four {
    position: absolute;
    width: 119px;
    height: 52px;
    left: 422px;
    background: #BCCED9;
    border-radius: 26px;
    border-width: 0px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;   
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FCFCFC;
}
.grid-size {
    position: absolute;
    height: 25px;
    left: 0%;
    right: 83.76%;
    top: calc(50% - 25px/2 - 34px);
}
.button-group3 {
    position: absolute;
    width: 542px;
    height: 52px;
    left: 0px;
    top: 31px;
}
.button-grid4 {
    position: absolute;
    width: 256px;
    height: 52px;
    background: #304859;
    border-radius: 26px;
    border-width: 0px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FCFCFC;
}
.button-grid6 {
    position: absolute;
    width: 256px;
    height: 52px;
    left: 286px;
    background: #BCCED9;
    border-radius: 26px;
    border-width: 0px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FCFCFC;
}
.start-button {
    position: absolute;
    width: 541px;
    height: 70px;
    background: #FDA214;
    border-radius: 35px;
    border-width: 0px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #FCFCFC;
}
/*Game Setup end*/

/*Game Board Starts*/
/*6x6 Multiplayer Board*/
.controls-container {
    overflow: hidden;
    background: #FCFCFC;
}
#menu-bar {
    position: absolute;
    width: 1110px;
    height: 52px;
    left: 165px;
    top: 67px;
    border:1px solid red;
}
#memory{
    position: absolute;
    width: 150.04px;
    height: 26.85px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.game-board-start-btn-group{
    position: absolute;
    width: 292px;
    height: 52px;
    left: 807px;
    border:1px solid red;
}
#restart-btn {
    position: absolute;
    height: 52px;
    width: 127px;
    background: #FDA214;
    border-radius: 26px;
    border-width: 0px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FCFCFC;
}
#new-game-btn {
    position: absolute;
    height: 52px;
    width: 149px;
    left: 143px;
    background: #DFE7EC;
    border-radius: 26px;
    border-width: 0px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #304859;
}
.wrapper {
    position: absolute;
    box-sizing: content-box;
    width: 572px;
    height: 572px;
    background-color: #FCFCFC;
    transform: translate(-50%, -50%);
    left: 484px;
    top: 380px;
    border: 1px solid red;
}
.stats-container {
    position: absolute;
    width: 1110px;
    height: 130px;
    top: 829px;
    border: 1px solid red;
}
#player1{
    position: absolute;
    width: 255px;
    height: 72px;
    text-align: left;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #7191A5;
    background: #DFE7EC;
    border-radius: 10px;
    border-width: 0px;
}
#player2{
    position: absolute;
    width: 255px;
    height: 72px;
    left: 290px;
    bottom: 58px;
    text-align: left;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #7191A5;
    background: #DFE7EC;
    border-radius: 10px;
    border-width: 0px;
}
#player3{
    position: absolute;
    width: 255px;
    height: 72px;
    left: 575px;
    bottom: 58px;
    text-align: left;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #7191A5;
    background: #DFE7EC;
    border-radius: 10px;
    border-width: 0px;
}
#player4{
    position: absolute;
    width: 255px;
    height: 72px;
    left: 855px;
    bottom: 58px;
    text-align: left;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #7191A5;
    background: #DFE7EC;
    border-radius: 10px;
    border-width: 0px;
}
#moves-count{
    position: absolute;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: right;
    color: #304859;
}
#current-turn {
    position: absolute;
    top: 90px;
    left: 60px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 5px;
    color: #152938;
    border: 1px solid red;
}
#current-turn2 {
    position: absolute;
    top: 77px;
    left: 350px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 5px;
    color: #152938;
    border: 1px solid red;
}
#current-turn3 {
    position: absolute;
    top: 77px;
    left: 640px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 5px;
    color: #152938;
    border: 1px solid red;
}
#current-turn4 {
    position: absolute;
    top: 77px;
    left: 920px;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 5px;
    color: #152938;
    border: 1px solid red;
}
.current-players-turn{
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid #555;
}