.no_click{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0,0);
}
body{
    font-family: 'Atkinson Hyperlegible';
    font-weight: 700;
    font-style: normal;
}
.bg-color{
    background-color:  #152938;
}
main{
    align-items: center;
    position: relative; 
}
.mainIndex{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

/*place for hidden "new-game" & "reset" buttons*/
.button-hide{
    width: 77.08%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 67px;
}
#memory_logo{
    font-size: 40px;
    line-height: 50px;
    color: #152938;
}
.top_btn_div{
    display: flex;
    width: 292px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.top_btn {
    border-radius: 26px;
    font-weight: 700;
    font-size: 20px;
    height: 52px;
    border-width: 0px;
}
#menu{
    display: none;
    background-color: #FDA214;    
}
#restart{
  width: 127px;
  background-color: #FDA214;
  color: #FCFCFC;
}
#restart:hover{
    cursor: pointer;
    background-color: #FFB84A;
}
#new_game{
  width: 149px;
  background-color: #DFE7EC;
  color: #152938;
}
#new_game:hover{
    cursor: pointer;
    background-color: #6395B8;
}

/*Main Menu*/
.logo_div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 154px;
    filter: invert(100%);
    color: #FCFCFC;
}
.setupStart-container{
    width: 654px;
    height: 559px;
    background-color: #FCFCFC;
    border-radius: 20px;
    margin-top: 78px;
}
.setupStart-mainMenu{
    width: 542px;
    height: 100%;
    margin: auto;
}
.setupStart-mainMenu .select-h3{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #7191A5;
    margin-top:33px;
    margin-bottom: 16px;
}
.select_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.theme-section .select_h3{
  margin-top: 56px;
} 
.button-select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn {
    border-style: none;
    background:#BCCED9;
    border-radius: 26px;
    height: 52px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FCFCFC;
}
.btn:hover{
    background: #6395B8;
    cursor: pointer;
}
.btn:active{
    background: #304859;
}
.btn_on{
    background: #304859;
}
.mid_btn{
    width: 256px;
}
.small_btn{
    width: 119px;
}
.start_btn{
    border-style: none;
    width: 100%;
    height: 70px;
    background: #FDA214;
    border-radius: 35px;
    margin-top: 33px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #FCFCFC;
}
.start_btn:hover{
    background: #FFB84A;
    cursor: pointer;
}
.grid4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 532px;
    height: 532px;
    margin: 35px auto;
}
.grid-item4{
    display: flex;
    justify-content: center;
    width: 118px;
    height: 118px;
    background-color:#304859;
    border-radius: 50%;
    align-items: center;
}
.card4{
    font-family: sans-serif;
    text-align: center;
    Font-style: Bold;
    Font-size: 56px;
    Line-height: 69px;
    color:  #FCFCFC;
}
.grid6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 572px;
    height: 572px;
    margin: 35px auto;
}
.grid-item6{
    display: flex;
    justify-content: center;
    width: 82px;
    height: 82px;
    background-color:#304859;
    border-radius: 50%;
    align-items: center;
}
.card6{
    font-family: sans-serif;
    text-align: center;
    Font-style: Bold;
    Font-size: 44px;
    Line-height: 55px;
    color:  #FCFCFC;
}
.grid div:hover{
    background: #6395B8;
    cursor: pointer;
}
.btn_on{
    background-color: #304859;
    color: white;
}
.right{
    background-color: #FDA214;
}
.wrong{
    background-color: #BCCED9;
}
.fa-solid{
    color:#FCFCFC;
}  
.icon6{
    font-size: 40px;
    margin-bottom: 10px;
}
.icon4{
    font-size: 56px;
    margin-bottom: 10px;
}
.large-container{
    width: 1110px;
    height: 130px;
}
  
.mid_cont{
    width: 825px;
    height: 130px;
}
  
.small_cont{
    width: 540px;
    height: 130px;
}
.small_cont2{
    width: 540px;
    height: 72px;
}
.player-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 40px;
}
.player_board{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 255px;
    height: 72px;
    background: #DFE7EC;
    border-radius: 10px;
}
.h4_score {
    font-weight: 700;
    font-size: 32px;
    color: #304859;
}
.h4_p1 {
    font-weight: 700;
    font-size: 32px;
    color: #304859;
}
.h3_title{
    font-weight: 700;
    font-size: 18px;
    color: #7191A5;
}
.current_player{
    position: relative;
    background-color: #FDA214;
}
.current_player::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: -10px;
    width: 0px;
    height: 0px;
    border-left: 19.28px solid transparent;
    border-right: 19.28px solid transparent;
    border-bottom: 19.28px solid #FDA214;
}
.current_player::after{
    content: 'current player';
    display: inline-block;
    position: absolute;
    bottom: -20px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 5px;
    color: #152938;
}
.results-dark{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F2F2F2;
    border-radius: 20px;
    width: 654px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
.heading{
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #152938;
    margin: 51px 0px 0px 0px ;
}  
.sub-heading{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #7191A5;
    margin: 16px 0px 40px 0px ;
}
.results-button-container{
    width: 542px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 69px 0px ;
}
.results_btn {
    width: 264px;
    height: 52px;
    border-radius: 26px;
    border: none;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
}
.results_btn:hover{
    cursor: pointer;
    background-color: #6395B8;
}
.results_restart{
    color: #FCFCFC;
    background: #FDA214;
}
.results_restart:hover{
    background: #FFB84A;
}
.results_new_game{
    color: #152938;
    background: #DFE7EC;
}
.player-list{
    width: 542px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 56px;
}
.player_results{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    border-radius: 10px;
    background-color: #DFE7EC;
}
.player_results_h2{
    font-size: 32px;
    line-height: 40px;
    color: #304859;
    margin: 0px 32px;
}
.player_results_p{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #7191A5;
    margin: 0px 32px;
}
.top_player{
    background-color: #152938;
}
.top_ply_cnt{
    color: #FCFCFC;
}

/*Tablet mode*/
@media(max-width: 768px){
    main{
        height: 1024px;
    }
    .top{
        width: 91.01%;
    }
    .grid4{
        margin-top: 157px;
        margin-bottom: 116px;
    }
    .grid6{
        margin-top: 121px;
        margin-bottom: 112px;
    }
    .player-container{
        width: 689px;
    }
    .player_board{
        width: 164px;
        height: 80px;
    }
    .player_board_2{
        width: 225px;
        height: 72px;
    }
    .mid_cont{
        width: 525px;
        height: 130px;
    }
    .small_cont{
        width: 339px;
        height: 72px;
    }
    .small_cont2{
        width: 480px;
        height: 72px;
    }
    .current_player::after{
        display: none;
    }
}

/*MobilePhone Mode*/
@media only screen and (min-width:320px) and (max-width:426px){
    main{
        height: 667px;
    }
    .logo{
        width:122px ;
    }
    .logo_div{
        margin-top: 80px;
    }
    .setupStart-container{
        width: 327px;
        height: 386px;
        border-radius: 10px;
    }
    .setupStart-mainMenu .select-h3{
        font-size: 15px;
        line-height: 19px;
        margin-top: 24px;
        margin-bottom: 11px;
    }
    .btn{
        height: 40px;
        font-size: 26px;
        font-size: 16px;
        line-height: 20px;
    }
    .setupStart-mainMenu{
        width: 82.874%;
    }
    .mid_btn{
        width: 47.232%;
    }
    .small_btn{
        width: 21.95%;
    }
    .start_btn{
        width: 100%;
        height: 40px;
        font-size: 26px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 32px;
    }
    #restart{
        display: none;
    }
    #new_game{
        display: none;
    }
    #menu{
        display: inline-block;
        background-color: #FDA214;
        color: #FCFCFC;
        width: 78px;
        height: 40px;
        border-radius: 26px;
    }
    .top{
      width: 87.2%;
    }
    .main_l{
        display: flex;
        justify-content: left;
    }
    #memory_logo{
        font-size: 24px;
        line-height: 30px;
    }
    .top_btn_div{
      display: flex;
      justify-content:end;
    }
    .grid4{
        margin-top: 80px;
        margin-bottom: 94px;
        width: 327px;
        height: 327px;
    }
    .grid6{
        margin-top: 80px;
        margin-bottom: 94.12px;
        width: 326.88px;
        height: 326.88px;
    }
    .grid-item4{
        width: 72.53px;
        height: 72.53px;
    }
    .grid-item6{
        width: 46.88px;
        height: 46.88px;
    }
    .card4{
        font-size: 40px;
        text-align: center;
        line-height: 50px;
    }
    .card6{
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }
    .icon6{
        font-size: 24px;
    }
    .icon4{
        font-size: 40px;
    }
    .player-container{
        width: 327px;
        height: 78px;
    }
    .player_board{
        width: 64px;
        height: 70px;
        border-radius: 5px;
        flex-direction: column;
        justify-content: space-around;
    }  
    .player_board h4{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 24px;
        
    }
    .player_board h3{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 15px;
    }
    .player_board_2{
        width: 151px;
        height: 70px;
    }
    .mid_cont{
        width: 240px;
        height: 78px;
    }
    .small_cont{
        width: 151px;
        height: 78px;
    }
    .small_cont2{
        width: 327px;
        height: 70px;
    }
    .modal{
        border-radius: 10px;
        width: 327px;
    }
    .heading{
        font-size: 24px;
        line-height: 30px;
        margin: 32px 0px 0px 0px ;
    }  
    .sub-heading{
        font-size: 14px;
        line-height: 17px;
        margin: 9px 0px 24px 0px ;
    }
    .results-button-container{
        width: 279px;
        height: 112px;
        flex-direction: column;
        justify-content: space-around;
        margin: 0px 0px 24px 0px ;
    }
    .results_btn {
        width: 279px;
        height: 48px;
        border-radius: 26px;
        font-size: 18px;
        line-height: 22px;
    }
    .player-list{
        width: 279px;
        margin-bottom: 24px;
    }
    .player_results{
        width: 100%;
        height: 48px;
        border-radius: 10px;
        background-color: #DFE7EC;
    }
    .player_results_h2{
        font-size: 20px;
        line-height: 25px;
        color: #304859;
        margin: 0px ;
        margin-right: 16px;
        margin-left: 16px;
    }
    .player_results_p{
        font-size: 13px;
        line-height: 16px;
        color: #7191A5;
        margin: 0px ;
        margin-right: 16px;
        margin-left: 16px;
    } 
    .top_player{
        background-color: #152938;
    }
    .top_ply_cnt{
        color: #FCFCFC;
    }
    #pause_cont{
        width: 327px;
        height: 224px;
        align-items: center;
        text-align: center;
    }
    .pause_btn_cnt{
        width: 279px ;
        height: 176px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #resume_btn{
        background-color: #DFE7EC;
    }
    .pause{
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color: rgba(0, 0, 0, 0.5);
    } 
}

